/* テーブル：キュート行 */
tr.cute {
	background-color : #FFEEFF;
	cursor : default;
}
/* テーブル：キュート行（マウスオーバー） */
tr.cute:hover {
	background-color : #FFCCFF;
}
/* テーブル：クール行 */
tr.cool {
	background-color : #DDFFFF;
	cursor : default;
}
/* テーブル：クール行（マウスオーバー） */
tr.cool:hover {
	background-color : #AAEEFF;
}
/* テーブル：パッション行 */
tr.passion {
	background-color : #FFEEDD;
	cursor : default;
}
/* テーブル：パッション行（マウスオーバー） */
tr.passion:hover {
	background-color : #FFDDAA;
}
/* テーブル：トレーナー */
tr.trainer {
	background-color : #DDFFDD;
}
/* テーブル：トレーナー（マウスオーバー） */
tr.trainer:hover {
	background-color : #AAFFAA;
}